facenet-pytorch>=2.5.0
matplotlib==3.10.0
opencv-python==4.8.1.78

# Core dependencies
ultralytics>=8.0.0
tqdm>=4.66.0

python-dotenv>=1.0.0

# Google Sheets API
gspread>=5.12.0
google-auth>=2.23.0

# Data Processing
pandas>=2.0.0

